/* CSS Document */
*{
	margin:0px;
	padding:0px;
	outline:none;
	}
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,
body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,
em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,
iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,
small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{
	background:transparent;
	border:0 none;
	font-size:100%;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:top;
	}
ol, ul {
	list-style:none;
	}
blockquote, q {
	quotes:none;
	}
table, table td {
	padding:0;
	border:none;
	border-collapse:collapse;
	}
.table_box th { 
	background-color: #262626;
	border: 1px dotted #fff;
	padding:3px; 
	text-align: left; 
	} 
.table_box td {	
	 vertical-align: top; 
	 padding:3px; 
	 }	
img {
	vertical-align:top;
	}
embed {
	vertical-align:top;
	}
article, aside, audio, canvas, command, datalist, details, embed, 
figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block;
	}
mark, rp, rt, ruby, summary, time {
	display:inline;
	}
input, textarea {
	border:0; 
	padding:0; 
	margin:0; 
	outline: 0;
	}
iframe {
	border:0; 
	margin:0; 
	padding:0;
	}
input, textarea, select {
	margin:0; 
	padding:0px;
	}
fieldset, img { 
	border: 0; 
	} 
 
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, 
meter, nav, output, progress, section, source, video {
	display:block;
	}
mark, rp, rt, ruby, summary, time {
	display:inline;
	}
html, body {width:100%; padding:0; margin:0;}

body { 	 
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; 
	line-height:1.5em;
	color:#6f594d;
	background:#fff;
}
	
/*For Link*/	
a{text-decoration:none;	}
a:link { color: #000000;}
a:visited { color: #000000;}
a:hover { color: #000000; text-decoration:underline;}
a:active { color: #00000;}
a:focus { outline: none;}
a img {border: none;}	
/*End	*/	
/*For Fixed-ID Link*/	
#sf_inner_page_desc a{ text-decoration:none;}
#sf_inner_page_desc a:link { color: #000;}
#sf_inner_page_desc a:visited { color: #000;}
#sf_inner_page_desc a:hover { color: #000; text-decoration:underline;}
#sf_inner_page_desc a:active { color: #000;}
/*End	*/	
/*For Fixed-Class Link*/	
.latest_news_row a{ text-decoration:none;}
.latest_news_row a:link { color: #646464;}
.latest_news_row a:visited { color: #646464;}
.latest_news_row a:hover { color: #fff; text-decoration:none;}
.latest_news_row a:active { color: #fff;}
/*End	*/		
h1 { font-size: 20px; color:#ffffff; font-weight:normal;font-family:'Arial, Helvetica, sans-serif';}
h2 { font-size: 22px; color:#333333; font-weight:normal; font-family:'Arial, Helvetica, sans-serif'; text-transform:uppercase}
h3 { font-size: 22px; color:#353535;font-weight:normal; font-family:'Arial, Helvetica, sans-serif';}
h4 { font-size: 18px; color:#944201;  font-weight:normal; font-family:'Arial, Helvetica, sans-serif';}
h5 { color:#7c0505; text-align:center; font-size:18px; font-weight:normal; font-family:'Arial, Helvetica, sans-serif';}
h6 { font-size: 14px; color:#fff; font-family:'Arial, Helvetica, sans-serif';}

.image_left{
	float:left;	
	margin-right:1.0em;
	}
.image_right{
	float:right;	
	margin-left:1.0em;
	}		
.image_border{	
	float:right;	
	margin-left:1.0em;
	border:1px solid #efefef; 
    padding:2px;
	}
select{
	border:1px #999 solid;
}
select option{
	font-family:Arial, Helvetica, sans-serif;
	width:130px;
	font-size:10px;
	color:#999;
	font-weight:lighter;
}
input[type='text']{
	border:2px #003398 solid;
	width:220px;
	height:25px;
	padding-left:5px;
}
#header_wrapper{
	width:980px;
	height:auto;
	margin:0px auto;
	padding:0px;
}
#header_upper{
	width:980px;
	height:52px;
	float:left;
	background:url(../images/upper_bg3.png) top right no-repeat;
}
#free{
	position:absolute;
	width:40px;
	height:20px;
	top:11px;
	margin-left:365px;
	
}
#logo{
	position:absolute;
	top:20px;
	width:116px;
	height:57px;
}
.menu{
	width:550px;
	height:24px;
	float:left;
	margin-left:220px;
	margin-top:26px;
}
#register{
	width:120px;
	height:auto;
	float:right;
	padding:2px 5px;
	margin-right:38px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-bottom-left-radius:6px;
	-moz-border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	background-color:#FFF;
	border:1px solid #CEB500;
	border-top:none;
	-webkit-box-shadow: 0px 0px 4px 1px #D6CA8D;
	box-shadow: 0px 0px 4px 1px #D6CA8D;
}
#register ul li{
	text-decoration:none;
	display:inline;
	padding-left:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
#register a{ text-decoration:none;}
#register a:link { color: #003498;}
#register a:visited { color: #003498;}
#register a:hover { color: #003498; text-decoration:none;}
#register a:active { color: #003498;}
	
.menu ul{
	margin:0px;
	padding:0px;
	line-height:24px;
	margin-bottom:1px;
}
.menu ul li a{
	background:url(../images/menu_bg.jpg) repeat-x;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-top-left-radius:8px;
	-moz-border-top-right-radius:8px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	display:inline;
	padding: 2px 22px;
	margin-right:5px;
	height:20px;
	line-height:20px;
	border:1px #E0C400 solid;
	border-bottom:none;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
}

.menu ul li a:link { color: #000000;}
.menu ul li a:visited { color: #000000;}
.menu li a:hover { color: #000000; text-decoration:none; background:#FFF;}
.menu ul li a:active { color: #000000;}
#header_below{
	width:100%;
	height:52px;
	float:left;
	background:url(../images/below_header.png) repeat-x;
	border-bottom:1px #F0F0F0 solid;
}
.header1{
	width:980px;
	height:52px;
	margin:0px auto;
	padding:0px;
}
.search{
	float:left;
	width:455px;
	margin-left:60px;
	margin-top:10px;
}
.search_button{
	margin:0px 2px;
	vertical-align:middle;
}
.text1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#000065;
	margin-top:35px;
	float:left;
}
.text3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000065;
	font-weight:bold;
	margin-bottom:20px;
}
.text4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-decoration:underline;
	color:#000065;
	float:left;
	width:700px;
	text-transform: capitalize;
}
.show{
	background:url(../images/1.png) repeat-x;
	margin:10px 0px;
	width:678px;
	height:27px;
	border-right:1px #B4C88D solid;
	border-left:1px #B4C88D solid;
	padding-top:6px;
	padding-left:20px;
	float:right;
}
.h_b_right{
	margin-top:20px;
	float:right;
}
.h_b_right a{ 
	text-decoration:none; 
	padding-right:10px; 
	float:right; 
	width:100px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;
}
.h_b_right a:link { color: #000;}
.h_b_right a:visited { color: #000;}
.h_b_right a:hover { color: #000; text-decoration:underline;}
.h_b_right a:active { color: #000;}
.text2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:bold;
	color:#FE9901;
	float:left;
	padding-right:15px;
}
#content_wrapper{
	width:980px;
	height:auto;
	margin:0px auto;
	padding:0px;
}
#content{
	width:960px;
	height:auto;
	padding:10px 10px 10px 0px;
	float:left;
}
.content_left{
	float:left;
	width:250px;
	height:auto;
	margin-right:10px;
}
.content_right{
	float:right;
	width:700px;
	height:auto;
}
.clear{
	clear:both;
}
.left_title{
	width:238px;
	height:23px;
	background:#FDEB6B;
	border:1px solid #CEB503;
	float:left;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	padding-left:10px;
	padding-top:5px;
}
.col_left{
	width:230px;
	height:auto;
	float:left;
	padding:10px;
	background-color:#FDF8CE;
}
.list{
	margin:0px;
	padding:0px;
	float:left;
	margin-bottom:10px;
	width:230px;
	height:auto;
}
.list ul{
	margin:0px;
	padding:0px;
}

.list ul li a{
	text-decoration:none;
	display:list-item;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#A18B02;
	line-height:10px;
}
.list ul li a:link { color: #A18B02;}
.list ul li a:visited { color: #A18B02;}
.list ul li a:hover { color: #A18B02; text-decoration: none;}
.list ul li a:active { color: #A18B02;}
.list ul li ul li a{
	text-decoration:none;
	display:list-item;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#010068;
	padding:6px 0px 5px 20px;
}
.list ul li ul li a{ text-decoration:underline;}
.list ul li ul li a:link { color: #010068;}
.list ul li ul li a:visited { color: #010068;}
.list ul li ul li a:hover { color: #010068; text-decoration: underline;}
.list ul li ul li a:active { color: #010068;}
.cat{
	color:#A18B02;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding-bottom:6px;
}
.cat{
	color:#A18B02;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:6px;
}
.spaceq{
	color:#000; font-size:12px; padding-top:6px; font-weight:bold; padding-left:0px; padding-bottom:6px;}
.buy{
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding-bottom:10px;
}
.test{
	width:700px;
	height:auto;
	float:right;
	border-top:1px solid #999;
	padding-top:15px;
}
.test1{
	width:700px;
	height:auto;
	float:right;
	border-bottom:1px #E6E5EA solid;
	margin-bottom:15px;
}
.test_left{
	float:left;
	width:400px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
}
.test_right{
	float:left;
	width:150px;
	height:auto;
	text-align:center;
	padding:30px 0px;
}
.testt{
	width:700px;
	height:auto;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	font-weight:bold;
}
.testt_left{
	float:left;
	width:400px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
}
.testt_right{
	float:right;
	width:150px;
	height:auto;
	text-align:center;
}
#pagination-flickr ul {
	border:0; 	
	margin:0; 
	padding:0; 
}
#pagination-flickr li{
border:0; margin:0; padding:0; float:left;
font-size:12px;
list-style:none; color:#000
}
#pagination-flickr a{
margin-right:2px;
}
#pagination-flickr .previous-off,
#pagination-flickr .next-off {
color:#000000;
display:block;
float:left;
font-weight:bold;
padding:3px 4px;
}
#pagination-flickr .next a,
#pagination-flickr .previous a {
font-weight:bold;
} 
#pagination-flickr .active{
color:#000000;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
#pagination-flickr a:link,
#pagination-flickr a:visited {
color:#010066;
display:block;
float:left;
padding:3px 6px;
text-decoration:underline;
}
#pagination-flickr a:hover{ text-decoration:none;
}

#footer_wrapper{
	width:100%;
	height:30px;
	float:left;
	background:#FFF;
	border-top:1px solid #BEC3C7; 
	padding-top:10px;
}
#footer{
	width:980px;
	height:40px;
	margin:0px auto;
	padding:0px;
}
#footer ul{
	display:inline;
	text-decoration:none;
	float:left;
}
#footer ul li{
	text-decoration:none;
	display:inline;
	color: #000065;
	padding:0px 2px;
}
#footer li a{ text-decoration:underline;}
#footer li a:link { color: #000065;}
#footer li a:visited { color: #000065;}
#footer li a:hover { color: #000065; text-decoration:underline;}
#footer li a:active { color: #000065;}
.copyright{
	float:left;
	color:#686A5F;
	padding-left:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

